{% extends 'base.html' %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block body %}
    <div class="contents">
        <h2>Body of the Index Page</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Content</td>
                <td>Date</td>
                <td>More</td>
            </tr>
        </table>
        <form action="">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" id="add">
        </form>

    </div>

{% endblock %}

